<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body style="padding:20px">



<wrapper class="header">
  <container>
    <row class="collapse">

    </row>
  </container>
</wrapper>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">

      <h1>Hi new Code </h1>


      <p> <b> <%= code %> </b></p

    </columns>

  </row>
  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
      <columns large="6">
        <h5>Connect With Us:</h5>
        <button class="facebook expand" href="">Facebook</button>
        <button class="Twitter expand" href="">Twitter</button>
        <button class="google expand" href="">Google+</button>
      </columns>

    </row>
  </wrapper>
</container>
</body>
</html>
